body {
    font-family: 'Roboto Condensed', sans-serif;
}

h1 {
    font-size: 24px;
    text-align: center;
    padding: 16px;
}

.btn {
    display: block;
    margin: 0 auto;
    background-color: #ffffff;
    border: 5px solid aquamarine;
    padding: 20px 50px;
    font-size: 22px;
    cursor: pointer;
}

.btn:hover {
    background-color: aquamarine;
}

div {
    margin: 40px;
    font-size: 22px;
    text-align: center;
}

span {
    display: block;
    margin: 40px;
    font-weight: 800;
    font-size: 40px;
    text-align: center;
}